fieldset {
  margin: 10px 0;
  background-color: #ffffff6e;
  border: none;

  padding: var(--mb-4);
  border-radius: 20px;
  box-shadow: 0 0 40px rgb(0 0 0 / 90%);
}

button {
  border: none;
  background-color: transparent;
}

thead {
  th:last-child{
    background-color: #02cb6a60;
  }
}

.t_load_main_calc {
  td:last-child{
    background-color: #f89b0060;
  }
}

.icon_middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--icon-middle-size);
  margin: var(--mb-0) auto;
  width: 100%;
}

.box {
  background-color: #f7e8b8ed;
  max-width: 35%;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}
.box.hidden {
  display: none;
}
.box.show {
  display: block;
}