.add-material {
  position: relative;
  padding: var(--mb-4);
  background-color: #02cb6a54;

.btn {
  border: 2px solid gray;
  border-radius: 1rem;
  padding: var(--mb-1);
  width: 100%;
  background-color: #f7e8b8ed;
  box-shadow: 0 5px 12px rgb(0 0 0 / 70%);
  font-weight: var(--font-bold);
  font-size: var(--normal-font-size);
}
  .add-material_itm{
    margin-bottom: var(--mb-1);

    input {
      padding: var(--mb-0) var(--mb-1);
      margin-left: var(--mb-2);
      border-radius: 1rem;
      border: 1px solid gray;
      height: var(--h2-font-size);
    }
  }
}