@import url("/src/ConstantsStyles.scss");

aside{
  min-width: 20px;
  background-color: #ffffff6e;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 8px;
  box-sizing: border-box;

  // a[class = "active"]
  .activeBtn button {
    box-shadow: 0 0 15px rgba( $color: #171dd6a3, $alpha: 0.64);
    transition: .5s; 
    border: 3px solid  var(--footer-color);
    border-radius: 50%;
  }
}

.disableItem {
  a {
  pointer-events: none;
  cursor: default;
  }
}


