.btn-user-auth-form {
  padding: var(--mb-0);
  margin: auto;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  width: 100px;
  border: 1px solid rgb(84, 85, 82);
}

.button:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgb(129 129 129);
}